{% extends "base.html" %}

{% block content %}
<br>
<br>
<a href="/programacion_web/" id="volverPRW">&larr; Programacion Web</a>
<!-- No regresa a la pagina  -->
<h2 class="animate__animated animate__backInRight" align="center" id="titulo">Conexion a la base de datos</h2>

<div class="texto" class="animate__animated animate__backInRight"  align="center">
    <p>
        Para una aplicación web, es de vital importancia mantener una conexion a una base de datos, a fin de mantener 
        todos los datos a la mano cuando sean necesario, sin importar el lugar desde donde se acceda.
        Sin embargo, para lograr una conexion remota, antes se debe crear una local.<br>
        En VB .NET, esto se logra utilizando ASP .NET, y en especial la clase SQLConection.
    </p>
</div>


<h3 class="animate__animated animate__backInRight" style="padding:2%"  align="center" id="titulo">ASP .NET</h3>
<div class="texto" class="animate__animated animate__backInRight"   align="center">
    <p>
        ASP.NET Core es un marco multiplataforma de código abierto y de alto rendimiento que tiene como finalidad compilar aplicaciones modernas conectadas a Internet y habilitadas para la nube. Con ASP.NET Core puede hacer lo siguiente:
        <br>
        Compilar servicios y aplicaciones web, aplicaciones de Internet de las cosas (IoT) y back-ends móviles.<br>
        Usar sus herramientas de desarrollo favoritas en Windows, macOS y Linux.<br>
        Efectuar implementaciones locales y en la nube.<br>
        Ejecutar en .NET Core.
    </p> 
</div>

<h3 class="animate__animated animate__backInRight" style="padding:2%"  align="center" id="titulo">Modulo ASP .NET</h3>
<div class="texto" class="animate__animated animate__backInRight"   align="center">
    <p>
        El Modulo ASP.NET nos permite una creación sencilla de acceso a la base de datos, creando dentro de este una clase 
        publica que nos sirva de coneccion, asi como el uso de la clase <i>SqlClient</i> (Imports System.Data.SqlClient).<br>
        Para la correcta conexion con la base, utilizaremos el siguiente codigo dentro de la clase:
    </p> 
</div>

<div class="codigo" class="animate__animated animate__backInRight"   align="center">
    <p> 
        <tt>
            Public Shared Conector As SqlClient.SqlConnection<br>
            Public Shared Validar As String = "0"<br>
            <br>
            Public Shared Sub AbrirConexion()<br>
                Conector = New SqlConnection("Server=[Nombre del servidor]; Database=[Nombre de la base de datos];User = [Nombre de Usuario]; Password=[Contraseña de Usuario];")<br>
            End Sub
        </tt>
    </p>
    </div>

<h3 class="animate__animated animate__backInRight" style="padding:2%"  align="center" id="titulo">SqlCommand</h3>
<div class="texto" class="animate__animated animate__backInRight"   align="center">
    <p>
        Asi mismo, ya sea dentro del mismo ASP, o en las acciones de elemento por separado, se pueden codificar 
        las diversas cosas que hará nuestra aplicación respecto a la base de datos. Esto se logra generando un comando 
        en idioma SQL (Vease el apartado de <a href="/programacion_web/base_de_datos">base de datos</a>), y ejecutandolo.<br>
        Esto lo lograremos haciendo uso de la clase SQLCommand, aunque para ello primero debemos "abrir" la conexion 
        con la base de datos:
    </p>
</div>
<div class="codigo" class="animate__animated animate__backInRight"   align="center">
    <p> 
        <tt>
            Public Shared Sub CrearElemento(Elemento as Object)<br>
                AbrirConexion()<br>
                Conector.Open()<br>
                Dim comando As New SqlCommand("INSERT INTO [Tabla]([Variables]) VALUES([Valores de variables])")<br>
                comando.ExecuteNonQuery()<br>
                Conector.Close()<br>
            End Sub
        </tt>
    </p>
</div>
<div class="texto" class="animate__animated animate__backInRight"   align="center">
    <p>
        De esta forma, logramos ingresar un elemento a nuestra base. Es importante recalcar que los Query solo 
        aceptan texto y numeros, por lo que de tener un atributo en nuestro elemento que no pertenezca a estos tipos, nos 
        veremos obligados a parcearlos; asi mismo es importante recordar siempre "Abrir" la base de datos antes de ejecutar 
        algun comando, y cerrarla luego de este. 
    </p>
</div>

<h3 class="animate__animated animate__backInRight" style="padding:2%"  align="center" id="titulo">SqlDataAdapter</h3>
<div class="texto" class="animate__animated animate__backInRight"   align="center">
    <p>
        Representa un conjunto de comandos de datos y una conexión de base de datos que se utilizan para llenar el 
        DataSet y actualizar una base de datos de SQL Server.<br>
        El SqlDataAdapter sirve como puente entre un DataSet y SQL Server para recuperar y guardar datos. 
        El SqlDataAdapter proporciona este puente al mapear Fill , que cambia los datos en el DataSet para que 
        coincidan con los datos en la fuente de datos, y Update , que cambia los datos en la fuente de datos 
        para que coincidan con los datos en el DataSet , usando el Transact-SQL apropiado declaraciones contra 
        la fuente de datos.  Cuando SqlDataAdapter llena un DataSet , crea las tablas y columnas necesarias para 
        los datos devueltos si aún no existen. <br>

    </p>
</div>

<div class="codigo" class="animate__animated animate__backInRight"   align="center">
    <p> 
        <tt>
            Public Shared Sub ObtenerElementos()<br>
                AbrirConexion()<br>
                Conector.Open()<br>
                Dim adaptador As New SqlClient.SqlDataAdapter("SELECT * FROM [Tabla] WHERE [Condición]", Conector)<br>
                Dim dataSet As New DataSet<br>
                adaptador.Fill(dataSet)<br>
                Conector.Close()<br>
            End Sub
        </tt>
    </p>
</div>
<div class="texto" class="animate__animated animate__backInRight"   align="center">
    <p>
        Esta accion nos llenará el Data Set con los datos almacenados en la tabla que hayamos seleccionado, 
        y que cumplan cons las condiciones establecidas.
    </p>
</div>

<div class="texto" class="animate__animated animate__backInRight"   align="center">
    <p>
        Y es con estos comandos, donde se puede armar cierto juego para la creación de diversos metodos 
        que satisfagan nuestras necesidades, a fin de permitir un flujo continuo y seguro entre el 
        usuario de la aplicación, y la base de datos.
    </p>
</div>



<h5 id="videos"><b>Video Recomendado:</b></h5>
	<center>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/3mu2K5vXcxc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </center>




<script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js"  type="text/javascript">
</script>
{% load sweetify %}
{% sweetify %}

{% endblock %}
{% block buttons %}
    <div class="d-flex justify-content-center align-items-center">
        <div id="fbbutton" class="fb-share-button" data-href="http://127.0.0.1:8000/programacion_web/asp/" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fprogramacion_web/asp/%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>

        <div id="ytbutton" class="g-ytsubscribe" data-channelid="UCMOktU8VdCTRJnGBL204UJw" data-layout="default" data-count="hidden"></div>

        <div id="meetbutton">
            <a href="https://meet.google.com/rvr-kjwu-fyk" target="_blank">
                <span class="iconify" data-icon="logos:google-meet" data-width="28" data-height="28"></span>
            </a>
        </div>
    </div>
{% endblock %}