<!DOCTYPE html>
<html>
<head>
	<title>Proyecto TPI115 Grupo 09 Visual Basic .NET</title>
	<meta charset="UTF-8">
	<link href="css/estilos.css" rel="stylesheet" />
	<script src="js/scripts.js"></script>
</head>
<body class="body">
	<h1 id="tituloconsola"><b>Programacion en consola</b></h1>
	<p id="introduccionconsola">La programación en consola es de las más básicas y de las primeras a nivel de aprendizaje por la que se debería empezar para aprender en lenguajes de programación populares como Java, Python, C#, entre otros, el lenguaje de programación de Visual Basic .NET tampoco es la excepción, si bien su sintaxis es parecida a C#, podemos decir que en realidad es una mezcla entre la programación en C# con el IDE de Visual Studio y la programación de macros en Excel con Visual Basic.
	<br>	
	<br>
	Para comenzar a programar en consola con Visual Basic .NET basta con contar con un IDE para editar y compilar el código que escribamos, si bien se puede programar en cualquier editor de texto como inclusive desde el bloc de notas de Windows que no es una práctica recomendada, además se requiere un nivel más avanzado de conocimiento y dominio del lenguaje de programación, para efectos de aprendizaje se utilizara un IDE, en este caso un compilador en línea, que permitirá ver y comprender de mejor manera la explicación de cada punto que se desea explicar.
	</p>
	<p id="txtsalidas">Para programar salidas en Visual Basic .NET basta con usar la instruccion Console.WriteLine(Parametro), donde el parametro en la instruccion puede ser del tipo String,Char,Integer,entre otros.</p>
	<!-- Ejemplo de salida basica -->
	<p id="ejemsalida"><b>Ejemplo de salida en Visual Basic .NET</b></p>
	<div data-pym-src="https://www.jdoodle.com/embed/v0/41zP"></div>
	<br>
	<p id="txtentradas">Para programar entradas en Visual Basic .NET basta con usar la instruccion valor = Console.ReadLine(), donde valor es una variable que debera coincidir con el parametro que se estara leyendo en la consola.</p>
	<!-- Ejemplo de entrada y salida basica -->
	<p id="ejementrada"><b>Ejemplo de entradas en Visual Basic .NET</b></p>
	<div data-pym-src="https://www.jdoodle.com/embed/v0/41zT"></div>
	<script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>
</body>
</html>