{% extends "base.html" %}

{% block content %}
<br>
<br>
<h1 class="animate__animated animate__backInRight" align="center" id="titulo">Programación Web en VB .NET</h1>
<div id="texto" class="animate__animated animate__backInRight" align="left">

    <p>El mundo ha progresado de manera asombrosa, y lo que antes era el standar de las aplicaciones, 
        aplicaciones de escritorio, actualmente han evolucionado a aplicaciones web. Para afrontar esta nueva 
        realidad, muchos lenguajes de programación se adaptaron y evolucionaron 
        para permitir y facilitar el desarrollo de estas aplicaciones, siendo Visual Basic una de estas.  
    </p>

    <p>
        Y pese a parecer facil, el desarrollo de aplicaciones web tiene cierto grado de complejidad, por ello 
        lo intentaremos de explicar de forma sencilla en los siguientes puntos:
    </p>
    <dl class="listadet">
        <dt><a href="/programacion_web/base_de_datos/">Base de datos en SQL Server</a>:</dt>
        <dd>&rarr; Creacion y CRUD basico de base de datos con SQL Server.</dd>

        <dt><a href="/programacion_web/vistas/">Vistas html</a>:</dt>
        <dd>&rarr; Archivos html y css.</dd>

        <dt><a href="/programacion_web/asp/">Conexion a la base de datos</a>:</dt>
        <dd>&rarr; ASP.Net y SQLConection </dd>
        
    </dl>
    <br>
</div>
{% endblock %}